#tabla {
  display: table;
  border: solid 5px black;
  border-radius: 7px;
  padding: 20px;
  background-color: lightseagreen;
}
.fila {
  display: table-row;
  background-color: lightseagreen;
}
.columna {
  display: table-cell;
  width: 400px;
  background-color: lightseagreen;
}

img {
  max-width: 15%;
  max-height: 15%;
}

form {
  margin: 0 auto;
  text-align: center;
}
* {
  background-color: lightsalmon;
}
input {
  background-color: white;
}
