body {
  background: no-repeat url(./images/body-bg.jpg);
  background-size: cover;
}

#content {
  color: black;
  background-color: white;
  border-radius: 5px;
  width: 70%;
}

#sidebar {
  display: flex;
  float: right;
  background-color: white;
  border-radius: 5px;
  color: black;
}
#footer {
  color: white;
}

#main-nav {
  display: inline;
}

.post-image {
  width: 50%;
  height: 50%;
}
#pagewrap {
  color: white;
}

#main-nav li,
#searchform {
  background-color: grey;
  display: inline-block;
}
